$base-font-size: 16px;
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;

// colors
$color-black: #121212;
$color-white: #ffffff;
$color-gray-lighter: #e5e5e5;
$color-gray-light: #dddddd;
$color-gray: #a3a3a3;
$color-gray-dark: #808080;
$color-gray-darker: #3e3e3e;
$color-purple: #5115f7;
$color-red: #ff2929;

// fonts
$font-maison-light: "MaisonNeue-Light", sans-serif;
$font-maison-medium: "MaisonNeue-Medium", sans-serif;
$font-maison-bold: "MaisonNeue-Bold", sans-serif;
