.read__button {
  display: none;
}

@include mq-wide {
  .read__button {
    display: inline-block;
    color: $color-white;
    font-size: rem(16px);
    &:after {
      content: "";
      display: block;
      margin-left: rem(28px);
      width: 0;
      height: rem(0.5px);
      background: $color-white;
      transition: width 0.3s;
    }

    &:hover::after {
      width: rem(79px);
    }
  }

  .read__icon {
    margin-right: rem(16px);
    margin-top: rem(12px);
    height: rem(12px);
    width: rem(12px);
  }
}
